.btn-rework {
  background-color: hsl(62, 21%, 38%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#acae83", endColorstr="#73754c");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#acae83), to(#73754c));
  background-image: -moz-linear-gradient(top, #acae83, #73754c);
  background-image: -ms-linear-gradient(top, #acae83, #73754c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #acae83), color-stop(100%, #73754c));
  background-image: -webkit-linear-gradient(top, #acae83, #73754c);
  background-image: -o-linear-gradient(top, #acae83, #73754c);
  background-image: linear-gradient(#acae83, #73754c);
  border-color: #73754c #73754c hsl(62, 21%, 32.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
}

.btn-complete {
  background-color: hsl(195, 64%, 39%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2ca4cc", endColorstr="#2383a3");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#2ca4cc), to(#2383a3));
  background-image: -moz-linear-gradient(top, #2ca4cc, #2383a3);
  background-image: -ms-linear-gradient(top, #2ca4cc, #2383a3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2ca4cc), color-stop(100%, #2383a3));
  background-image: -webkit-linear-gradient(top, #2ca4cc, #2383a3);
  background-image: -o-linear-gradient(top, #2ca4cc, #2383a3);
  background-image: linear-gradient(#2ca4cc, #2383a3);
  border-color: #2383a3 #2383a3 hsl(195, 64%, 36.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}

.btn-bill {
  background-color: hsl(193, 32%, 60%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b4d1d8", endColorstr="#78abb9");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b4d1d8), to(#78abb9));
  background-image: -moz-linear-gradient(top, #b4d1d8, #78abb9);
  background-image: -ms-linear-gradient(top, #b4d1d8, #78abb9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b4d1d8), color-stop(100%, #78abb9));
  background-image: -webkit-linear-gradient(top, #b4d1d8, #78abb9);
  background-image: -o-linear-gradient(top, #b4d1d8, #78abb9);
  background-image: linear-gradient(#b4d1d8, #78abb9);
  border-color: #78abb9 #78abb9 hsl(193, 32%, 55.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.29);
  -webkit-font-smoothing: antialiased;
}

.btn-prev-bill {
  background-color: hsl(195, 100%, 66%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#84e0ff", endColorstr="#51d3ff");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#84e0ff), to(#51d3ff));
  background-image: -moz-linear-gradient(top, #84e0ff, #51d3ff);
  background-image: -ms-linear-gradient(top, #84e0ff, #51d3ff);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #84e0ff), color-stop(100%, #51d3ff));
  background-image: -webkit-linear-gradient(top, #84e0ff, #51d3ff);
  background-image: -o-linear-gradient(top, #84e0ff, #51d3ff);
  background-image: linear-gradient(#84e0ff, #51d3ff);
  border-color: #51d3ff #51d3ff hsl(195, 100%, 63.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.16);
  -webkit-font-smoothing: antialiased;
}

.rs-input{
  display: block; 
  border: 1px solid #d7d6d6; 
  background: #fff; 
  padding: 10px 10px 10px 28px; 
}
.atend {
    position: absolute;
    display: block; 
    left: 20px; 
    top: 7px; 
    z-index: 9;
    font-weight: bold;
}

.rbox{
    border-radius: 25px;
    border: 2px solid #ADD8E6;
    padding: 10px; 
}

.btn-reset {
  background-color: hsl(0, 86%, 46%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ed1111", endColorstr="#da1010");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ed1111), to(#da1010));
  background-image: -moz-linear-gradient(top, #ed1111, #da1010);
  background-image: -ms-linear-gradient(top, #ed1111, #da1010);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ed1111), color-stop(100%, #da1010));
  background-image: -webkit-linear-gradient(top, #ed1111, #da1010);
  background-image: -o-linear-gradient(top, #ed1111, #da1010);
  background-image: linear-gradient(#ed1111, #da1010);
  border-color: #da1010 #da1010 hsl(0, 86%, 45%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
  -webkit-font-smoothing: antialiased;
}