/*
Back to top button 
*/
#backTop {
	position: fixed;
	bottom: 30px;
	margin-left: -150px;
}
#backTop a {
	width: 88px;
	display: block;
	text-align: none;
	font: 9px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#backTop a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#backTop span {
	width: 20px;
	height: 20px;
	display: block;
	margin-left: 10px;
	margin-bottom: 7px;
	background: #ddd url('../img/up-arrow_small.png') no-repeat center center;
	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#backTop a:hover span {
	background-color: #777;
}